<% manage_allowed = User.current.allowed_to?(:manage_related_issues, @project) %>
<div id="related-issues">
<h3><%= l(:label_related_issues) %></h3>
<ul>
<% changeset.issues.visible.each do |issue| %>
  <li id="<%= "related-issue-#{issue.id}" %>"><%= link_to_issue issue %></li>
<% end %>
</ul>
</div>
