<div class="contextual">
  <p>New</p>
</div>
<div id="related_deployments">
<h3><%= l(:label_deployment) %></h3>
<div id="fieldset">
<fieldset id="test" class="collapsible collapsed">
  <legend onclick="toggleFieldset(this);">Test</legend>
  <div style="display:none;">
    <table class="list">
      <thead>
      	<th>Test</th>
        <th>Test</th>
        <th>Test</th>
        <th>Test</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</fieldset>
</div>
</div>
