<div class="contextual" style="margin-right: 10px;">
  <p>Close</p>
</div>
<div class="box" style="margin: 0px; margin-bottom: 0px; border-top-width: 0px; border-bottom-width:0px -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;">
<h3>Deploying <img src="<%=image_path('deploy-progress.gif')%>"></h3>
<table class="list">
  <thead>
  	<th>Current Action</th>
  </thead>
  <tbody>
  	<tr><td>Lorem Ipsum</td></tr>
  </tbody>
</table>
</div>
