<h2><%=l(:label_deployment)%></h2>
<% if @project.module_enabled?(:repository) and @project.repository %>
<%= render_tabs deployment_tabs %>
<% else %>
  <p class="nodata">Deployment is linked to SCM, a repository MUST be configured</p>
<% end %>
